@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,400&family=Poppins:wght@300&family=Roboto&display=swap');

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.App {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;


}

#light {
    background-color: #f0f0f0;
}

#dark {
    background-color: #1E1E2E;

}

.lightNav {
    background-color: #f0f0f0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.darkNav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #1E1E2E;
}


button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.content-wrapper {
    display: flex;
    padding: 1em .5em;
    flex: 1;
    padding-top: 100px;
}