.Modal {
    border-radius: 10px;
    padding: .5em;
    width: 180px;
    height: 100px;
    position: absolute;
    margin-top: 1em;
    right: 10px;
    text-align: center;
}

.ModalArrow {
    position: relative;
    top: -25px;
    color: #fff;
    left: 50px;
}

.darkModal {
    background-color: #fff;
}

.lightModal {
    background-color: #1E1E2E;
    color: #fff;
}

.darkModalArrow {
    color: #fff;
}

.lightModalArrow {
    color: #1E1E2E;
}