@import url("../../shared/variables.css");

.LastTransactions {
    width: 50%;
    border-radius: 10px;
}

.LastTransactions h3 {
    margin: .8em;
    padding: .1em;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.LastTransacitonsContent {
    display: flex;
    flex-direction: column;
}


.LastTransactionItem {
    display: flex;
    padding: .5em;
    border-bottom: 1px solid rgba(255, 255, 255, .01);
    justify-content: space-between;
}


.LastTransactionItem .expense {
    color: #777777;
}


@media screen and (max-width:768px) {
    .LastTransactions {
        width: 100%;
    }

}